body {
    background: url("img/clouds.png") no-repeat;
}

.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card-header {
    background-color: tomato;
}

.card-header .m-0 {
    font-size: 1.5rem;
    color: white;
}

.card-title {
    font-family: 'Times New Roman', Times, serif;
}

.card-footer {
    padding: 0;
}

.card-footer .btn {
    width: 100%;
    border-radius: 0;
    padding: 9px 15px;
    color: #000;
    font-size: 30px;
    font-weight: 300;
    font-family: inherit;
    transition: background-color 0.2s linear;
    text-decoration: none;
}

.card-footer:hover .btn {
    background-color: #2E9AFF;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s linear;
}

.start_margin-bottom_20px {
    margin: 0 0 20px 0;
}

.start_disabled {
    display: none;
}

.card_disabled {
    display: none;
}

.start__wrapper {
    min-width: revert;
    padding: revert;
    margin: revert;
    border: revert;
    text-align: center;
}

.start__title {
    font-size: 2.5rem;
    color: wheat;
}

.start__question {
    font-size: 1.5rem;
    color: black;
}

.start__button {
    font-size: 2rem;
    display: block;
    margin: 10px auto;
}